{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min4.1.3.css') }}">
<div class="registration-form">
    
    <form method="POST">
        <div class="illustration"><i class="ion-person-add"></i></div>
        <div class="mb-3">
            <input type = "text" name="username" class="adaptive-input" required>
            <label for="username" placeholder="username" alt="Enter username"></label>
        </div>
        <div class="mb-3">
            <input name="password" type="password" class="adaptive-input" required>
            <label for="password" placeholder="password" alt="Enter password"></label>
        </div>
        <div class="mb-3">
            <select class="form-select" id="role_id" name="role_id" required>
              {% for role in roles %}
              <option value="{{ role.role_id }}">{{ role.role_name }}</option>
              {% endfor %}
            </select>
          </div>
        <button class="btn btn-outline-secondary">Create User</button>
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
