{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-dark">
    <form method="POST">
        <h2 class="sr-only">Login</h2>
        <div class="illustration"><i class="ion-ios-locked-outline"></i></div>
        <div class="form-group"><input type="text" class="form-control" name="username" placeholder="username" required></div>
        <div class="form-group"><input type="password" class="form-control" name="password" placeholder="password" required></div>
        <div class="form-group"><button type="submit" class="btn btn-primary w-100">Login</button></div>  
    </form>
</div>
{% endblock %}
