{% extends "base.html" %}
{% block content %}
    <h2>Machine List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Last Service Date</th>
            <th>Action</th>
        </tr>
        {% for machine in machines %}
            <tr>
                <td>{{ machine.machine_name }}</td>
                <td>{{ machine.serial_number }}</td>
                <td>{{ machine.last_service_date or 'Not serviced' }}</td>
                <td><a href="{{ url_for('update_machine', machine_id=machine.machine_id) }}">Update</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}