{% extends "base.html" %}
{% block title %}Services{% endblock %}
{% block content %}
<h2>Services</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Service Date</th>
      <th>Description</th>
      <th>Hours</th>
      <th>Cost</th>
      <th>Next Service Date</th>
      <th>Equipment</th>
      <th>Performed By</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    <tr>
      <td>{{ service.service_date }}</td>
      <td>{{ service.service_description }}</td>
      <td>{{ service.service_hours }}</td>
      <td>{{ service.service_cost }}</td>
      <td>{{ service.service_next_date }}</td>
      <td>{{ service.equipment.equipment_name if service.equipment else '' }}</td>
      <td>{{ service.service_by.username if service.service_by else '' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
